.header-panel {
    min-height: 80px;
    background-color: white;
}

.title {
    margin-left: 11px;
    font: 18px/30px sans-serif;
    padding: 2px 5px;
    border: 1px solid white;
    border-radius: 4px; 
}

.title::selection {
    background: transparent;
}

.title:hover {
    border-color: #dadce0;
}
